body{
    overflow-x: hidden;
}
#masthead{
    position: relative;
}
#colophon {
}

#colophon .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#colophon .wrap img{
    width: 10rem;
}

#colophon .wrap .reseau {
    display: flex;
    gap: 1rem;
    align-items: center;
}
#nav_burger{
    background-color: #fff;
}
.transition{
    position: absolute;
    /*right: -1500px;*/
    width: 100%;
    top: 0;
    transition: all .6s cubic-bezier(0,.84,.37,1);
    right: 0;
    /*right: 0;*/
}
.open{
   right: -1500px;
    transition: all .6s cubic-bezier(.92,-0.01,1,.69);

}
#nav_burger .close{
    padding-top: 1rem;
    text-align: right;
    top: 10px;
    color: #FFA07A;
    padding-right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    /*display: inline-block;*/
    transition: all .3s;
}
#nav_burger .close:hover{
    opacity: .6;
}


#nav_burger ul{
    padding: 0 0 4rem 4rem;
    font-size: 2rem;
}
#nav_burger ul li a{
    display: inline-block;
    transition: all .3s;
}
#nav_burger ul li a:hover{
    transform: scale(1.05);
    opacity: .7;
}
#palette{
    background-color: #fff;
}
.openPalette {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 8rem 2rem 3rem;
    transition: all .3s;
}
.close{
    left: -350px;
}
#diapo {
    padding: 0;
}
#diapo li{
    position: relative;
}
#diapo p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-10deg);
    right: 2%;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    /*width: 350px;*/
    text-shadow: 3px 3px 10px black;
}

#selecta {
    /*background-color: red;*/
    padding-bottom: 4rem;
}
#selecta #dropdown{
    background-color: white;
    position: relative;
}
#selecta #dropdown a{
    display: block;
    text-align: center;
    border: solid;
    padding: 1rem 0;
    text-transform: uppercase;
    background-color: green;
    color: white;
    position: relative;
}
#selecta #dropdown .liste{
    text-align: center;
    background-color: #D2B285;
    position: absolute;
    left: 2.5px;
    right: 2.5px;
    top: 58px;
    color: white;
    text-transform: uppercase;
    transition: all .5s;
}
#selecta #dropdown .liste li{
    padding: 1rem 0;
    cursor: pointer;
}
#selecta #dropdown .liste li:hover{
    background-color: green;
}
#selecta #dropdown img{
    position: absolute;
    width: 35px;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}
#selecta #dropdown .none{
    display: none;
    opacity: 0;
}
#selecta .wrap2 #reponse{
    display: flex;
    padding-top: 2rem;
}
#selecta .wrap2 #reponse .dispo{
    width: 50%;
}
#selecta .wrap2 #reponse .titreDiv{
    padding-top: 2rem;
}
#selecta .wrap2 #reponse .titreDiv h2{
    font-weight: bold;
    padding-bottom: 1rem;
}
#selecta .wrap2 #reponse .titreDiv p{
    font-size: 1.2rem;
    padding-right: 1rem;
}

@media screen and (max-width: 950px) {  }
@media screen and (max-width: 805px) {
    #colophon .wrap {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    #diapo p{
        font-size: 1.7rem;
    }
    #selecta .wrap2 #reponse{
        flex-direction: column;
        align-items: center;
    }
    #selecta .wrap2 #reponse .dispo{
        width: 100%;
    }
    #selecta .wrap2 #reponse .titreDiv{
        padding: 1rem;
    }
    #selecta .wrap2 #reponse .imageDiv img{
        width: 100%;
    }
}
@media screen and (min-width: 950px) {
    .transition{
        display: none;
    }
    .openPalette {
        display: none;
    }

}

@media screen and (max-width: 650px) {
    .openPalette {
        padding: 1rem 1rem;
    }
}
